<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'style='font-family: bold;'>{{title}} </span>
        <span><a routerLink='/requests/lines/'>
           </a>
        </span>
    </div>
</div>
<p *ngIf='!request'>Loading...</p>
<table *ngIf='request' class="table">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td>
            <a routerLink='/requestLines/detail/{{request.id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
             | 
            <a routerLink='/requestLines/edit/{{request.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
        </td>
    </tr>
</table>


<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'style='font-family: fantasy;'>Line Items</span>
        <span><a routerLink='/lineitems/create/{{request.id}}'>
            <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
    </span>
    </div>
</div>

<p *ngIf='!lines'>Loading....</p>

<table  class="table">
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
        <th>Action</th>
    </tr>
    <tr *ngFor= "let l of lines">
        <td>{{l.id}}</td>
        <td>{{l.product.name}}</td>
        <td>{{l.quantity}}</td>
        <td>{{l.product.price | currency}}</td>
        <td>{{l.product.price * l.quantity | currency}}</td>
        <td>
            <a routerLink='/lineitem/edit/{{l.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
             | 
            <a routerLink='/lineitem/delete/{{l.id}}'><img src='assets/delete.jpg' width='20' height='20' title='Delete'></a>
        </td>
    </tr>
</table>